
services:
  - type: web
    name: telegram-movie-bot
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: ADMIN_ID
        sync: false
      - key: WEBHOOK_URL
        fromGroup: webhook_url
    healthCheckPath: /